<div class="col-md-4"></div>
<div class="col-md-4">
    <h1 class="text-italic">Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.value)">
        <div class="form-group">
            <label for="email">Email address</label>
            <input #emailInput="ngModel" type="text" ngModel id="email" class="form-control" name="email"
            [pattern]="emailRegex" placeholder="john.doe@domain.bg">
            <p class="error-message" *ngIf="emailInput.invalid && emailInput.touched">Please enter valid gmail email!</p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input #passwordInput="ngModel" type="password" ngModel id="password" class="form-control"
             minlength="6" name="password" placeholder="************" required>
             <p class="error-message" *ngIf="passwordInput.invalid && passwordInput.touched">Password must be at least 6 symbols!</p>
        </div>

        <button [disabled]="loginForm.invalid" class="btn btn-success">Login</button>
    </form>
    <p>Don't have account yet? <a routerLink="/user/register">Register</a>.</p>
</div>